version: "3.8"
services:
  mongo:
    image: mongo
    container_name: mongo
    ports: [ "27017:27017" ]
    environment:
      MONGO_INITDB_DATABASE: payapp
    volumes:
      - ./mongo_data:/data/db
      - ./mongo/mongo-init.js:/docker-entrypoint-initdb.d/mongo-init.js:ro

  gateway-service:
    build:
      context: .
      dockerfile: ./gateway-service/Dockerfile
    environment:
      JWT_SECRET: ${JWT_SECRET}

    depends_on:
      - auth-service
      - user-service
      - details-service
      - invoice-service
      - activity-service
      - hunted-service
      - session-service
    ports: [ "8080:8080" ]

  auth-service:
    build:
      context: .
      dockerfile: ./auth-service/Dockerfile
    environment:
      MONGODB_URI: ${MONGODB_URI}
      TELEGRAM_BOT_TOKEN: ${TELEGRAM_BOT_TOKEN}
      JWT_SECRET: ${JWT_SECRET}
    depends_on: [ mongo ]
    ports: [ "8081:8081" ]

  user-service:
    build:
      context: .
      dockerfile: ./user-service/Dockerfile
    environment:
      MONGODB_URI: ${MONGODB_URI}
      JWT_SECRET: ${JWT_SECRET}
    depends_on: [ mongo ]
    ports: [ "8082:8082" ]

  details-service:
    build:
      context: .
      dockerfile: ./details-service/Dockerfile
    environment:
      MONGODB_URI: ${MONGODB_URI}
      JWT_SECRET: ${JWT_SECRET}
    depends_on: [ mongo ]
    ports: [ "8083:8083" ]

  invoice-service:
    build:
      context: .
      dockerfile: ./invoice-service/Dockerfile
    environment:
      MONGODB_URI: ${MONGODB_URI}
      JWT_SECRET: ${JWT_SECRET}
    depends_on: [ mongo ]
    ports: [ "8084:8084" ]

  activity-service:
    build:
      context: .
      dockerfile: ./activity-service/Dockerfile
    environment:
      MONGODB_URI: ${MONGODB_URI}
      JWT_SECRET: ${JWT_SECRET}
    depends_on: [ mongo ]
    ports: [ "8085:8085" ]

  hunted-service:
    build:
      context: .
      dockerfile: ./hunted-service/Dockerfile
    environment:
      MONGODB_URI: ${MONGODB_URI}
      JWT_SECRET: ${JWT_SECRET}
    depends_on: [ mongo ]
    ports: [ "8086:8086" ]

  session-service:
    build:
      context: .
      dockerfile: ./session-service/Dockerfile
    environment:
      MONGODB_URI: ${MONGODB_URI}
      JWT_SECRET: ${JWT_SECRET}
    depends_on: [ mongo ]
    ports: [ "8087:8087" ]

volumes:
  mongo_data:
