server:
  port: 8080

spring:
  application:
    name: gateway
  cloud:
    gateway:
      globalcors:
        corsConfigurations:
          '[/**]':
            allowedOriginPatterns:
              - "http://localhost:*"
              - "https://*.ngrok-free.app"
              - "https://*.ngrok.app"
            allowedMethods: [ "GET", "POST", "PUT", "PATCH", "DELETE", "OPTIONS" ]
            allowedHeaders: [ "*" ]
            allowCredentials: true

      default-filters:
        - DedupeResponseHeader=Access-Control-Allow-Credentials Access-Control-Allow-Origin
      routes:
        - id: auth
          uri: http://auth-service:8081
          predicates: [ Path=/auth/** ]
        - id: user
          uri: http://user-service:8082
          predicates: [ Path=/users/** ]
        - id: details
          uri: http://details-service:8083
          predicates: [ Path=/details/** ]
        - id: invoice
          uri: http://invoice-service:8084
          predicates: [ Path=/invoices/** ]
        - id: activity
          uri: http://activity-service:8085
          predicates: [ Path=/activity/** ]
        - id: hunted
          uri: http://hunted-service:8086
          predicates: [ Path=/hunted/** ]
        - id: session
          uri: http://session-service:8087
          predicates: [ Path=/sessions/** ]

jwt:
  secret: ${JWT_SECRET:dev-very-long-secret-min-32-bytes-please-change}
  ttlSeconds: 604800

management:
  endpoints:
    web:
      exposure:
        include: gateway,health,info,prometheus
